body {
    background-color: grey;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

header {
    position:fixed;
    background-color:white;
    border-width: .5px;
    margin:auto;
    height: 1em;
    width: 100%;

}




